.App {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  /* Added to handle wrapping for smaller screens */
  margin: 20px;     /* Added some margin for better spacing */
}

.data-section {
  width: 48%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  text-align: left;  /* Ensure content inside data-section is aligned to the left */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto; /* Horizontal scrolling for tables if content overflows */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.selected-column {
  background-color: #f2f2f2;
  cursor: pointer;
}

th:hover {
  background-color: #ddd;
}

.json-tree-view {
  font-size: 0.9em;
  text-align: left; /* Ensuring the JSON tree view's content is aligned to the left */
}

.json-tree-view > span {
  cursor: pointer;
  user-select: none;
}

/* Styling for the matched values (green) and unmatched values (red) */
.matched-value {
  background-color: #d4edda;
}

.unmatched-value {
  background-color: #f8d7da;
}

.merge-section {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;  /* Added margin for separation */
}
